autopep8==1.5
bidict==0.21.2
bson==0.5.10
click==7.1
Flask==1.1
Flask-HTTPAuth==4.2
Flask-Login==0.5
Flask-SocketIO==5.0
Flask-WTF==0.14.3
gevent==21.1
gevent-websocket==0.10
greenlet==1.0
gunicorn==20.1
itsdangerous==1.1
Jinja2==2.11
MarkupSafe==1.1
pytest==6.2
python-dateutil==2.8
python-engineio==4.1
python-socketio==5.2
six==1.15
SQLAlchemy==1.4
SQLAlchemy-Utils==0.37
Werkzeug==0.16.1
WTForms==2.3
zope.event==4.5
zope.interface==5.4
