apispec==4.7.1
bidict==0.21.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
Flask==2.0.0
Flask-HTTPAuth==4.4.0
Flask-Login==0.5.0
flask-smorest==0.31.3
Flask-SocketIO==5.0.0
Flask-WTF==0.15.1
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.12.0
psycopg2-binary==2.9.1
python-engineio==4.2.1
python-socketio==5.4.0
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.0
urllib3==1.26.6
webargs==8.0.0
Werkzeug==2.0.0
WTForms==2.3.0
zope.event==4.5.0
zope.interface==5.4.0
