<!DOCTYPE html>

<html lang="en">

<head>
    <title>{{ title }}</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='3rd_party/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename='js/3rd_party/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/3rd_party/socket.io-4.0.0.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/3rd_party/openvidu-browser-2.18.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/connection.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/splitter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/text.js') }}"></script>
    <script>const TOKEN = "{{ token }}";</script>
    <script type="text/javascript" charset="utf-8" id="custom-scripts"></script>
    <style id="custom-styles"></style>
</head>

<body>
    <header>
        <nav>
            <h1 id="title" class="fade"></h1>
            <h2 id="subtitle" class="fade"></h2>
            <span id="latency" class="latency" style="display: none;">Latency: <span id="ping">999</span> ms</span>
            <span id="user-list" class="users" style="display: none;">Users: <span id="current-users"></span></span>
        </nav>
    </header>
    <div id="sidebar" class="fade">
        <div id="video"></div>
        <div id="custom"></div>
    </div>
    <div id="content">
        <div id="chat-area" class="fade"></div>
    </div>
    <div id="type-area" style="display: none;">
        <input id="text" size="80" placeholder="Enter your message here!" readonly="readonly"><br><br>
    </div>
</body>

</html>
