<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
</head>

<body>
    <div class="admin-page">
        <div class="admin-form">
            <h1>Create room</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <table>
                    <tr>
                        <td>{{ form.name.label }}</td>
                        <td>{{ form.name(required="required", placeholder="Name") }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.label.label }}</td>
                        <td>{{ form.label(required="required", placeholder="Display Name") }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.layout.label }}</td>
                        <td>{{ form.layout(required="required", placeholder="Path to Layout") }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.readonly.label }}</td>
                        <td>{{ form.readonly() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.showusers.label }}</td>
                        <td>{{ form.showusers() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.showlatency.label }}</td>
                        <td>{{ form.showlatency() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.showinput.label }}</td>
                        <td>{{ form.showinput() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.showhistory.label }}</td>
                        <td>{{ form.showhistory() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.showinteractionarea.label }}</td>
                        <td>{{ form.showinteractionarea() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.key.label }}</td>
                        <td>{{ form.key(placeholder="secret-key from config.ini") }}</td>
                    </tr>
                </table>
                {{ form.submit() }}
            </form>
        </div>
    </div>
</body>

</html>
