<html>

<head>
    <title>{{ title }}: {{ room }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='3rd_party/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/3rd_party/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/3rd_party/socket.io-2.0.3.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        let socket;
        let typing = {};
        let self_user = undefined;
        let self_room = undefined;
        let invalid_ping_times = 0;
        let pings_received = 0;
        let history_received = false;
        let users = {};
        let print_history = undefined;

        function getTime(timestamp) {
            if (typeof timestamp === "undefined")
                return new Date().getHours() + ':' + new Date().getMinutes();
            let currentDate = new Date((timestamp + new Date().getTimezoneOffset() * 60) * 1000);
            return currentDate.getHours() + ":" + (currentDate.getMinutes() < 10 ? "0" + currentDate.getMinutes() : "" + currentDate.getMinutes());
        }

        function append(text) {
            $('#chat-area').append(text);
            let content = $('#content');
            content.animate({ scrollTop: content.prop("scrollHeight") }, 0);
        }

        function display_message(sender, time, message, privateMessage) {
            if (self_user === undefined) {
                return;
            }

            let classes = "";
            if (self_user.id === sender.id) {
                classes += "self";
            } else {
                classes += "other";
            }

            if (privateMessage) {
                classes += " private";
            }
            let text = $(
                "<li class='" + classes + "'>" +
                "  <div class='message-box'>" +
                "    <div>" +
                "      <span class='user'></span>" +
                "      <time></time>" +
                "    </div>" +
                "    <span class='msg'></span>" +
                "  </div>" +
                "</li>");
            text.find(".user").text(self_user.id === sender.id ? "You" : sender.name);
            text.find(".msg").text(message);
            text.find("time").text(getTime(time));
            append(text);
        }

        function display_image(sender, time, url, width, height, privateMessage) {
            if (self_user === undefined) {
                return;
            }

            let classes = "";
            if (self_user.id === sender.id) {
                classes += "self";
            } else {
                classes += "other";
            }
            if (privateMessage) {
                classes += " private";
            }

            if (width !== null) {
                width = parseInt(width);
            } else {
                width = 200;
            }
            if (height !== null) {
                height = parseInt(height);
            } else {
                height = 200;
            }

            let text = $(
                "<li class='" + classes + "'>" +
                "  <div class='message-box'>" +
                "    <div class='user'>" +
                "      <time></time>" +
                "    </div>" +
                "    <img/>" +
                "  </div>" +
                "</li>");
            text.find("time").text(getTime(time));
            text.find("img").attr("src", url).attr("width", width).attr("height", height);
            append(text);
        }

        function display_info(time, message) {
            let text = $(
                "<li class='notification'>" +
                "  <p class='message'></p>" +
                "  <time></time>" +
                "</li>");
            text.find(".msg").text(message);
            text.find("time").text(getTime(time));
            append(text);
        }

        function submit_text(text) {
            socket.emit('text', { room: self_room, msg: text });
        }

        function submit_image(url, width, height) {
            socket.emit('image', { room: self_room, image: url, width: width, height: height });
        }

        function submit_command(parameter) {
            socket.emit('command', { room: self_room, data: parameter });
        }

        function updateUsers() {
            let current_users = "You";
            for (var idx in users) {
                current_users += ", " + users[idx];
            }
            $('#current-users').text(current_users);
        }

        function updatePermissions(permissions) {
            console.log("new permissions:", permissions);
            if (permissions.write) {
                $('#text').prop('readonly', false).prop('placeholder', 'Enter your message here!');
            } else {
                $('#text').prop('readonly', true).prop('placeholder', 'You don\'t have the permissions to write in this room.');
            }
            if (permissions.see_latency)
                $('#latency').show();
            else
                $('#latency').hide();
            if (permissions.see_users)
                $('#user-list').show();
            else
                $('#user-list').hide();
            if (permissions.see_input)
                $('#type-area').show();
            else
                $('#type-area').hide();
            if (permissions.see_history)
                $('#chat-area').show();
            else
                $('#chat-area').hide();
            if (permissions.see_interaction_area)
                $('#sidebar').show();
            else
                $('#sidebar').hide();
        }

        $(document).ready(function () {
            $('#latency').hide();
            $('#user-list').hide();
            socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/chat');
            let startTime;
            let ping_pong_times = [];
            window.setInterval(function () {
                startTime = (new Date).getTime();
                socket.emit("my_ping");
                let date = new Date();
                for (let sid in typing) {
                    if (typing[sid]['date'].getSeconds() + 3 < date.getSeconds())
                        delete typing[sid];
                }
                // updateTyping();
            }, 1000);

            socket.on('joined_room', function (data) {
                console.log("permissions: ", data.permissions);
                self_user = data.self;
                self_user.name = "You";
                self_room = data.room.id;

                console.log("joined room:", data);
                if (data.layout.html !== "") {
                    $("#sidebar").html(data.layout.html);
                }
                if (data.layout.css !== "") {
                    $("#custom-styles").html(data.layout.css);
                }
                if (data.layout.script !== "") {
                    $("#custom-scripts").html(data.layout.script);
                }
                if (data.layout.title !== "") {
                    document.title = data.layout.title;
                } else {
                    document.title = 'Slurk';
                }
                $("#title").text(document.title);
                if (data.layout.subtitle !== "") {
                    $("#subtitle").text(data.layout.subtitle);
                } else {
                    $("#subtitle").text(data.room.label);
                }

                $("#chat-area").empty();
                users = {};
                data.users.forEach(function (user) {
                    users[user.id] = user.name;
                });
                updateUsers();
                updatePermissions(data.permissions);
                if (!history_received && print_history !== undefined) {
                    print_history(data["history"]);
                    history_received = true;
                }
            });

            socket.on("my_pong", function () {
                pings_received += 1;

                let latency = (new Date).getTime() - startTime;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-5);
                let sum = 0;
                for (let i = 0; i < ping_pong_times.length; ++i)
                    sum += ping_pong_times[i];
                let ping = $("#ping");
                ping.text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            socket.on('status', function (data) {
                console.log("status:", data);
                if (typeof self_user === "undefined")
                    return;
                switch (data.type) {
                    case "join":
                        let user = data.user;
                        if (user.id !== self_user) {
                            users[user.id] = user.name;
                            updateUsers();
                        }
                        break;
                    case "leave":
                        delete users[data.user.id];
                        updateUsers();
                        break;
                    case "new_image":
                        display_info(data.timestamp, 'You have received a new image!');
                        break;
                    case "undefined_command":
                        display_info(data.timestamp, 'Command could not be recognized!');
                        break;
                }
            });

            socket.on('clear_chat_area', function () {
                $('#chat-area').empty()
            });

            socket.on('update_permissions', function (data) {
                updatePermissions(data.permissions)
            });

            socket.on('new_image', function (data) {
                console.log("New image:", data);
                $('#' + data.id).attr('src', data.url).show();
            });

            socket.on('attribute_update', function (data) {
                console.log("Attribute updated:", data);
                if (data.id)
                    $('#' + data.id).attr(data.attribute, data.value).show();
                if (data.class)
                    $('.' + data.class).attr(data.attribute, data.value).show();
                if (data.element)
                    $(data.element).attr(data.attribute, data.value).show();
            });

            socket.on('class_add', function (data) {
                console.log("Class added:", data);
                $('#' + data.id).addClass(data.class);
            });

            socket.on('class_remove', function (data) {
                console.log("Class removed:", data);
                $('#' + data.id).removeClass(data.class);
            });

            socket.on('text_update', function (data) {
                console.log("Text updated:", data);
                $('#' + data.id).text(data.text).show();
            });
        });
    </script>
    <script type="text/javascript" charset="utf-8" id="custom-scripts"></script>
    <style id="custom-styles"></style>
</head>

<body>
    <header>
        <nav>
            <h1 id="title"></h1>
            <h2 id="subtitle"></h2>
            <span id="latency" class="latency">Latency: <span id="ping">999</span> ms</span>
            <span id="user-list" class="users">Users: <span id="current-users"></span></span>
        </nav>
    </header>
    <div id="sidebar"></div>
    <div id="content">
        <div id="chat-area"></div>
    </div>
    <div id="type-area">
        <input id="text" size="80" placeholder="Enter your message here!" readonly="readonly"><br><br>
    </div>
</body>

</html>
