<!DOCTYPE html>
<html>
	<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
	</head>
	<body>
    <div class="login-page">
      <div class="login-form">
        <h1>Botsi Chat</h1>
        <form method="POST">
          {{ form.hidden_tag() }}
	        <span class="error">{% for error in form.name.errors %}{{ error }}{% endfor %}</span>
          {{ form.name(required="required", placeholder="Name", autocomplete="off") }}
	        <span class="error">{% for error in form.token.errors %}{{ error }}{% endfor %}{% if token_invalid %}The token is either expired, was already used or isn't correct at all.{% endif %}</span>
          {{ form.token(required="required", placeholder="Token", value=token, autocomplete="off") }}
          {{ form.submit() }}
        </form>
      </div>
    </div>
  </body>
</html>
