<!DOCTYPE html>
<html>
	<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
	</head>
	<body>
    <div class="login-page">
      <div class="login-form">
        <h1>Slurk</h1>
        <form method="POST">
            <span class="error">
                {% with messages = get_flashed_messages() %}
                   {% if messages %}
                      {% for message in messages %}
                         {{ message }}
                      {% endfor %}
                   {% endif %}
                {% endwith %}
            </span>
          {{ form.hidden_tag() }}
	        <span class="error">{% for error in form.name.errors %}{{ error }}{% endfor %}</span>
          {{ form.name(required="required", placeholder="Name", autocomplete="off") }}
	        <span class="error">{% for error in form.token.errors %}{{ error }}{% endfor %}</span>
          {{ form.token(required="required", placeholder="Token", autocomplete="off") }}
          {{ form.submit() }}
        </form>
      </div>
    </div>
  </body>
</html>
