<!DOCTYPE html>

<html lang="en">

<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}" />
</head>

<body>
    <h1>Generate Task</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            <tr title="{{ form.name.description }}">
                <td>{{ form.name.label }}</td>
                <td>{{ form.name(placeholder=form.name.label.text) }}</td>
            </tr>
            <tr title="{{ form.num_users.description }}">
                <td>{{ form.num_users.label }}</td>
                <td>{{ form.num_users() }}</td>
            </tr>
        </table>

        {{ form.submit() }}
    </form>
</body>

</html>