<!DOCTYPE html>

<html lang="en">

<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/token.css') }}" />
</head>

<body>
    <div class="login-page">
        <div class="login-form">
            <h1>Generate Tokens</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <table>
                    <tr>
                        <td><label for="source">Source</label></td>
                        <td>{{ form.source(placeholder="Source") }}</td>
                    </tr>
                    <tr>
                        <td><label for="room">Room</label></td>
                        <td>{{ form.room(required="required") }}</td>
                    </tr>
                    <tr>
                        <td><label for="task">Task</label></td>
                        <td>{{ form.task(required="required", placeholder="Source") }}</td>
                    </tr>
                    <tr>
                        <td><label for="count">Count</label></td>
                        <td>{{ form.count() }}</td>
                    </tr>
                    <tr><td>
                        <h3>Permissions</h3>
                        <table>
                            <tr>
                                <td>
                                    <h4>User</h4>
                                    <table>
                                        <tr>
                                            <td><label for="user_query">Query</label></td>
                                            <td>{{ form.user_query() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="user_kick">Kick</label></td>
                                            <td>{{ form.user_kick() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="user_permissions_query">Query permissions</label></td>
                                            <td>{{ form.user_permissions_query() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="user_permissions_update">Update permissions</label></td>
                                            <td>{{ form.user_permissions_update() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="user_room_join">Join room</label></td>
                                            <td>{{ form.user_room_join() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="user_room_leave">Leave room</label></td>
                                            <td>{{ form.user_room_leave() }}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <h4>Message</h4>
                                    <table>
                                        <tr>
                                            <td><label for="message_text">Text</label></td>
                                            <td>{{ form.message_text() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="message_image">Image</label></td>
                                            <td>{{ form.message_image() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="message_command">Command</label></td>
                                            <td>{{ form.message_command() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="message_history">History</label></td>
                                            <td>{{ form.message_history() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="message_broadcast">Broadcast</label></td>
                                            <td>{{ form.message_broadcast() }}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <h4>Room</h4>
                                    <table>
                                        <tr>
                                            <td><label for="room_query">Query</label></td>
                                            <td>{{ form.room_query() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="room_create">Create</label></td>
                                            <td>{{ form.room_create() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="room_delete">Delete</label></td>
                                            <td>{{ form.room_delete() }}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <h4>Layout</h4>
                                    <table>
                                        <tr>
                                            <td><label for="layout_query">Query</label></td>
                                            <td>{{ form.layout_query() }}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <h4>Token</h4>
                                    <table>
                                        <tr>
                                            <td><label for="token_generate">Generate</label></td>
                                            <td>{{ form.token_generate() }}</td>
                                        </tr>
                                        <tr>
                                            <td><label for="token_invalidate">Invalidate</label></td>
                                            <td>{{ form.token_invalidate() }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td></tr>
                </table>
                {{ form.submit() }}
            </form>
        </div>
    </div>
</body>

</html>