<!DOCTYPE html>

<html lang="en">

<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/token.css') }}" />
</head>

<body>
    <h1>Generate Tokens</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            <tr title="{{ form.source.description }}">
                <td>{{ form.source.label }}</td>
                <td>{{ form.source(placeholder=form.source.label.text) }}</td>
            </tr>
            <tr title="{{ form.room.description }}">
                <td>{{ form.room.label }}</td>
                <td>{{ form.room(placeholder=form.room.label.text) }}</td>
            </tr>
            <tr title="{{ form.task.description }}">
                <td>{{ form.task.label }}</td>
                <td>{{ form.task(placeholder=form.task.label.text) }}</td>
            </tr>
            <tr title="{{ form.count.description }}">
                <td>{{ form.count.label }}</td>
                <td>{{ form.count(placeholder=form.count.label.text) }}</td>
            </tr>
        </table>

        <h3>Permissions</h3>

        <h4>User</h4>
        <table>
            <tr title="{{ form.user_query.description }}">
                <td>{{ form.user_query.label }}</td>
                <td>{{ form.user_query() }}</td>
            </tr>
            <tr title="{{ form.user_log_query.description }}">
                <td>{{ form.user_log_query.label }}</td>
                <td>{{ form.user_log_query() }}</td>
            </tr>
            <tr title="{{ form.user_permissions_query.description }}">
                <td>{{ form.user_permissions_query.label }}</td>
                <td>{{ form.user_permissions_query() }}</td>
            </tr>
            <tr title="{{ form.user_permissions_update.description }}">
                <td>{{ form.user_permissions_update.label }}</td>
                <td>{{ form.user_permissions_update() }}</td>
            </tr>
            <tr title="{{ form.user_room_query.description }}">
                <td>{{ form.user_room_query.label }}</td>
                <td>{{ form.user_room_query() }}</td>
            </tr>
            <tr title="{{ form.user_room_join.description }}">
                <td>{{ form.user_room_join.label }}</td>
                <td>{{ form.user_room_join() }}</td>
            </tr>
            <tr title="{{ form.user_room_leave.description }}">
                <td>{{ form.user_room_leave.label }}</td>
                <td>{{ form.user_room_leave() }}</td>
            </tr>
        </table>

        <h4>Message</h4>
        <table>
            <tr title="{{ form.message_text.description }}">
                <td>{{ form.message_text.label }}</td>
                <td>{{ form.message_text() }}</td>
            </tr>
            <tr title="{{ form.message_image.description }}">
                <td>{{ form.message_image.label }}</td>
                <td>{{ form.message_image() }}</td>
            </tr>
            <tr title="{{ form.message_command.description }}">
                <td>{{ form.message_command.label }}</td>
                <td>{{ form.message_command() }}</td>
            </tr>
            <tr title="{{ form.message_broadcast.description }}">
                <td>{{ form.message_broadcast.label }}</td>
                <td>{{ form.message_broadcast() }}</td>
            </tr>
        </table>

        <h4>Room</h4>
        <table>
            <tr title="{{ form.room_query.description }}">
                <td>{{ form.room_query.label }}</td>
                <td>{{ form.room_query() }}</td>
            </tr>
            <tr title="{{ form.room_log_query.description }}">
                <td>{{ form.room_log_query.label }}</td>
                <td>{{ form.room_log_query() }}</td>
            </tr>
            <tr title="{{ form.room_create.description }}">
                <td>{{ form.room_create.label }}</td>
                <td>{{ form.room_create() }}</td>
            </tr>
            <tr title="{{ form.room_update.description }}">
                <td>{{ form.room_update.label }}</td>
                <td>{{ form.room_update() }}</td>
            </tr>
            <tr title="{{ form.room_close.description }}">
                <td>{{ form.room_close.label }}</td>
                <td>{{ form.room_close() }}</td>
            </tr>
            <tr title="{{ form.room_delete.description }}">
                <td>{{ form.room_delete.label }}</td>
                <td>{{ form.room_delete() }}</td>
            </tr>
        </table>

        <h4>Layout</h4>
        <table>
            <tr title="{{ form.layout_query.description }}">
                <td>{{ form.layout_query.label }}</td>
                <td>{{ form.layout_query() }}</td>
            </tr>
        </table>

        <h4>Task</h4>
        <table>
            <tr title="{{ form.task_create.description }}">
                <td>{{ form.task_create.label }}</td>
                <td>{{ form.task_create() }}</td>
            </tr>
            <tr title="{{ form.task_query.description }}">
                <td>{{ form.task_query.label }}</td>
                <td>{{ form.task_query() }}</td>
            </tr>
        </table>

        <h4>Token</h4>
        <table>
            <tr title="{{ form.token_generate.description }}">
                <td>{{ form.token_generate.label }}</td>
                <td>{{ form.token_generate() }}</td>
            </tr>
            <tr title="{{ form.token_query.description }}">
                <td>{{ form.token_query.label }}</td>
                <td>{{ form.token_query() }}</td>
            </tr>
            <tr title="{{ form.token_invalidate.description }}">
                <td>{{ form.token_invalidate.label }}</td>
                <td>{{ form.token_invalidate() }}</td>
            </tr>
            <tr title="{{ form.token_remove.description }}">
                <td>{{ form.token_remove.label }}</td>
                <td>{{ form.token_remove() }}</td>
            </tr>
        </table>

        {{ form.submit() }}
    </form>
</body>

</html>