<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/token.css') }}" />
</head>

<body>
    <div class="login-page">
        <div class="login-form">
            <h1>Generate Tokens</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <table>
                    <tr>
                        <td><label for="source">Source</label></td>
                        <td>{{ form.source(placeholder="Source") }}</td>
                    </tr>
                    <tr>
                        <td><label for="room">Room</label></td>
                        <td>{{ form.room(required="required") }}</td>
                    </tr>
                    <tr>
                        <td><label for="task">Task</label></td>
                        <td>{{ form.task(required="required", placeholder="Source") }}</td>
                    </tr>
                    <tr>
                        <td><label for="count">Count</label></td>
                        <td>{{ form.count() }}</td>
                    </tr>
                    <tr>
                        <td><label for="key">Key</label></td>
                        <td>{{ form.key(placeholder="secret-key from config.ini") }}</td>
                    </tr>
                </table>
                {{ form.submit() }}
            </form>
        </div>
    </div>
</body>

</html>